@mixin bdr {
  border-bottom: 1px solid #ccc;
}
dl.accordion {
  dt {
    margin-bottom: 0;
    padding: 5px 0 15px;
    position: relative;
    @extend h1;
    line-height: 1em;
    color: $body;
    @include bdr;

    &.selected {
      border: none;
      color: #000;
    }

    button {
      position: absolute;
      top: 10px;
      left: 0;

      /* Hide just incase if JS is disabled */
      .no-js & {
        display: none;
      }
    }
  }

  dd {
    margin: 0;
    padding: 0 0 5px;
    @include bdr;

    p {
      margin-top: 0;
    }
  }

  &.is-active {
    dt {
      padding: 5px 0 15px 30px;
    }
    
    dd {
      padding-left: 30px;
    }
  }
}