.lt-ie9 {
  i.caret img {
    display: none;
    @include opacity(0);
  }
}


.btn {
  $height: 30px;
  height: $height;
  padding: 0 15px;
  display: inline-block;
  @include Proxima(700);
  font-size: 0.81em;
  font-weight: bold;
  line-height: $height;
  @include border-radius(4px);
  background: $midgrey;
  color: #eaeaea;
  @include transition(all 0.25s ease-in);
  border: none;
  -webkit-background-clip: padding-box;

  /* Default button */
  &.hover-silver:hover {
    color: #fff;
    background: lighten($midgrey, 20%);
  }

  &:hover {
    color: #ccc;
    background: #000;
  }

  &.btn-silver {
    background: $silver;
    color: #333;

    &:hover {
      color: #000;
      background: #dddddd;
    }
  }

  &.btn-white {
    background: #fff;
    color: $body;

    &.selected {
      color: #fff;
      background: $headlines;
    }

    &:hover {
      color: #000;
    }
  }
}

.btn-zoom {
  $dimension: 40px;
  width: $dimension;
  height: $dimension;
  overflow: hidden;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  background: $headlines;
  @include transition(background-color 0.25s ease-in);

  img {
    width: 27px;
    height: 27px;
    line-height: $dimension;
    margin: 6px auto;
    vertical-align: middle;
    display: block;
    position: relative;
  }

  &:hover {
    @extend .btn:hover;
  }

  /* Non-SVG Shim */
  .no-svg & {
    i {
      width: image-width("shim/zoom.png");
      height: image-height("shim/zoom.png");
      margin: 6px auto;
      display: inline-block;
      @include shim-sprite(zoom);
    }

    img {
      display: none;
    }
  }
}

button.toggle {
  $dimension: 19px;
  width: $dimension;
  height: $dimension;
  margin: 0;
  padding: 0;
  background: #fff;
  text-align: center;
  border: none;
  color: #9b9b9b;

  img {
    width: $dimension;
    height: $dimension;
    vertical-align: top;
  }

  .no-svg & {
    width: image-width("shim/btn-open.png");
    height: image-height("shim/btn-open.png");
    @include shim-sprite(btn-open);

    img {
      display: none !important;
    }
  }

  .no-svg .selected & {
    @include shim-sprite(btn-close);      
  }
}

button[class^="gallery-nav-"] {
  width: 30px;
  height: 80px;
  border: none;
  float: left;
  padding: 0;
  position: relative;
  background: #000;
  color: #fff;
  text-align: center;
  font-size: 80px;

  .no-svg &,
  .lt-ie9 & {
    i {
      width: image-width("shim/caret-lrg-next.png");
      height: image-height("shim/caret-lrg-next.png");
      overflow: hidden;
      float: left;
      display: block;
      border: none;
      margin: 0 10px;
    }

    img {
      display: none;
    }
  }

  img {
    position: absolute;
    top: 50%;
    margin-top: image-height("shim/caret-lrg-next.png") / 2 * -1;
  }
}

.no-svg,
.lt-ie9 {
  button.gallery-nav-next i {
    @include shim-sprite(caret-lrg-next);
  }

  button.gallery-nav-prev i {
    @include shim-sprite(caret-lrg-prev);
  }

}

/**
  NOTE: Uses css triangle for the right corner, CSS transitions don't work as of now.
*/
a.btn-arrow {
  display: inline-block;
  position: relative;
  background: $body;

  h2 {
    margin: 0 10px;
    line-height: 2.70em;
    color: #fff;

    &:after {
      @include arrow;
    }
  }

  &:hover {
    background: #000;
    h2 {
      color: #fff;
        &:after {
          border-left-color: #000;
        }
    }
  }
}
