img[class^="caret-"] {
  position: relative;
}
$i: 'img.caret';
#{$i}-up {
  @include rotate(-180deg);
  top: -2px;
}

#{$i}-right {
  @include rotate(-90deg);
}

#{$i}-down {
  @include rotate(-180deg);
}

#{$i}-left {
  @include rotate(90deg);
}

/* For extending only */
.nav-caret {
  @include opacity(0.33);
  @include transition(all 0.3s ease-in);
  @include backface-visibility(hidden);
}