fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

label {
  width: 100%;
  display: inline-block;
  line-height: 1.9em;
  clear: both;
  font-size: 0.81em;
  text-transform: uppercase;
  @include ProximaCondensed;

  &:after {
    display: table;
    content: "";
  }

  em {
    text-transform: none;
    color: $lightgrey;
    font-size: 11px;
  }
}

textarea,
input[type="text"],
input[type="password"]  {
  height: 28px;
  padding: 0 5px;
  font-size: 0.75em;
  border: 1px solid #ccc;

  &:focus {
    border: 1px solid #666;
    outline: 0;
  }
}

textarea {
  height: auto;
}

.form-field {
  $width: 300px;
  width: $width;
  margin: 0 0 20px;
  float: left;

  &:nth-child(odd) {
    margin-right: $gutter;
  }

  input[type="text"],
  input[type="password"],
  textarea {
    width: $width - 12px;
  }

  &.full-width {
    $width: 620px;
    width: $width;
    margin-right: 0;

    textarea {
      width: $width - 12px;
    }

    select {
      width: 100%;
    }
  }

  &.error {
    * {
      color: $error;
      border-color: $error;
    }
  }
}

.form-submit {
  width: 100%;
  margin: 0 0 40px;
  clear: both;
  float: left;
}

.radio-group {
  label {
    width: 100%;
    margin: 0 20px 0 0;
    display: inline;
    line-height: 2.4em;
    clear: both;
    font-size: 0.81em;
    text-transform: none;

    input[type="radio"] {
      margin-right: 4px;
    }
  }
}

.sign-up-form {
  position: relative;

  input[type="text"]{
    width: 170px;
    padding-right: -15px;
    display: inline-block;
    float: left;

    footer & {
      border-color: white;
    }
  }

  button {
    position: relative;
    margin-left: -10px;
  }
}