body {
  font-size: 100%;
  @include Proxima;
  color: $body;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3 {
  color: $headlines;
}

h1 {
  font-size: 1.88em;
  margin: 0.35em 0;
  @include ProximaCondensed;
}

h2 {
  @include ProximaCondensed;
  font-size: 1.25em;
  text-transform: uppercase;
  margin: 0.5em 0;

  em {
    font-style: normal;
    font-weight: 700;
  }
}

h3 {
  @include Proxima($weight: 300);
  font-size: 0.94em;
}

a {
  color: $body;
  &:hover {
    color: #000;
  }
}

p {
  font-size: 0.75em;
  line-height: 1.82em;
}

small {
  font-size: 0.63em;
}

address {
  @extend p;
  font-style: normal;
}

a {
  text-decoration: none;
}

blockquote {
  margin: 0;

  cite {
    margin: 0;
    font-size: 0.67em;
    color: #000;
  }
}

ul.nav-list {
  @extend .span2;
  margin: 0 0 1em;
  padding: 0;
  float: left;
  list-style: none;
  font-size: 0.75em;
  font-weight: bold;
  zoom: 1;

  li {
    line-height: 1.7em;
    margin: 0 0 1px;
  }
}