body {
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 1.25em;
  font-weight: normal;
  @include UniversLightCnd;
  text-transform: uppercase;
}

h2 {
  @include UniversLightCnd;
  font-size: 1.25em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 1em 0;
}

p {
  font-size: 0.75em;
  line-height: 1.82em;
}

small {
  font-size: 0.63em;
}

address {
  @extend p;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul.nav-list {
  @extend .span2;
  margin: 0 0 1em;
  padding: 0;
  float: left;
  list-style: none;
  font-size: 0.75em;
  font-weight: bold;

  li {
    line-height: 1.7em;
    margin: 0 0 1px;
  }
}