@mixin hidetext() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin ul-reset($no-bullet: false) {
  margin: 0;
  padding: 0;
  @if $no-bullet {
    list-style: none;
  }
}
/* TODO: Make this extendible for other directions */
@mixin arrow($dir: right, $color: $body) {
  width: 0;
  height: 0;
  position: absolute;
  right: -27px;
  content: "";
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 27px solid $color;
}

/* Base class for any large box link with a small caret */
@mixin btn-with-caret($dir: down, $animateTo: false) {
  $start: 0;
  $end: 0;

  @if $dir == up {
    $start: -2;
  }

  @if $dir == right {
    $start: -1;
  }

  @if $dir == left {
    $start: 1;
  }

  @if $animateTo != false {
    @if $animateTo == up {
      $end: -1;
    }

    @if $animateTo == right {
      $end: 1;
    }

    @if $animateTo == left {
      $end: 2;
    }
  }


  $startPosition: #{$start * 90}deg;
  $endPosition: #{$start - $end * 90}deg;

  i.caret {
    position: relative;
    display: inline-block;
    margin: 0 0 0 8px;
    top: -3px;
    @if $dir == up {
      top: -2px;
    }
    @include rotate($startPosition);
    @include transition(all 0.25s ease-in);
    @include opacity(0.33);
    @include backface-visibility(hidden);
  }

  &:hover,
  &.selected {
    i {
      @include opacity(1);
      @if $animateTo != false {
        @include rotate($endPosition);
      }
    }
  }
}

/* 
  Type mixins
  =========================== */

/*
  Weights:
  Light 300
  Bold 700
*/
@mixin ProximaCondensed($weight: 300) {
  font-family: "proxima-nova-condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
  font-weight: $weight;
}

@mixin Proxima($weight: 400) {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: $weight;
}