@mixin hidetext() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin ul-reset($no-bullet: false) {
  margin: 0;
  padding: 0;
  @if $no-bullet {
    list-style: none;
  }
}
/* TODO: Make this extendible for other directions */
@mixin arrow($dir: right, $color: $body) {
  width: 0;
  height: 0;
  position: absolute;
  right: -27px;
  content: "";
  border-top: 27px solid transparent;
  border-bottom: 27px solid transparent;
  border-left: 27px solid $color;
}

/* Base class for any large box link with a small caret */
@mixin btn-with-caret($dir: right, $anim: false) {
  $rotate: 0;
  @if $anim == up {
    $rotate: -180deg;
  }

  @if $anim == right {
    $rotate: -90deg;
  }

  @if $anim == down {
    $rotate: -180deg;
  }

  @if $anim == left {
    $rotate: 90deg;
  }

  i {
    position: relative;
    display: inline-block;
    margin: 0 0 0 8px;
    top: -3px;

    img {
        @if $dir == up {
          @include rotate(-180deg);
          top: -2px;
        }

        @if $dir == right {
          @include rotate(-90deg);
        }

        @if $dir == down {
          @include rotate(-180deg);
        }
        @if $dir == left {
          @include rotate(90deg);
        }
      @include opacity(0.33);
      @include transition(all 0.25s ease-in);
      @include backface-visibility(hidden);
    }
  }

  &:hover {
    i img {
      @include opacity(1);
      @if $anim != false {
        @include rotate($rotate);
      }
    }
  }
}

/* 
  Type mixins
  =========================== */

/*
  Weights:
  Light 300
  Bold 700
*/
@mixin ProximaCondensed($weight: 300) {
  font-family: "proxima-nova-condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
  font-weight: $weight;
}

@mixin Proxima($weight: 400) {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: $weight;
}