@mixin hidetext() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* 
  Type mixins
  =========================== */

/*
  Weights:
  Light 300
  Bold 700
*/
@mixin ProximaCondensed($weight: 300) {
  font-family: "proxima-nova-condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
  font-weight: $weight;
}

@mixin Proxima($weight: 400) {
  font-family: "proxima-nova", Helvetica, Arial, sans-serif;
  font-weight: $weight;
}