body {
  counter-reset:section;
}

header[role="banner"] {
  $height: 80px;
  width: 100%;
  height: $height;
  position: relative;
  color: #fff;
  background: $darkgrey image-url("shim/bg-header.gif") repeat-x left top;
  /* CSS2 Shims */
  .no-cssgradients & {
    & ul.main-nav li a {
      background: none;
      &:hover,
      &.selected,
      &.selected:hover {
        background: image-url("shim/bg-header-nav.gif");
      }
    }
  }
  nav {
    position: relative;
  }

  a {
    color: #ccc;
  }

  ul {
    margin: 0;
    padding: 0;
    float: left;

    li {
      float: left;
    }

    &.main-nav {
      $button-width: 160px;

      li {
        width: $button-width;
        font-size: 0.94em;
        text-transform: uppercase;
        @include ProximaCondensed;

        > a {
          width: $button-width - ($gutter *2);
          height: $height;
          padding: 0 $gutter;
          float: left;
          position: relative;
          line-height: $height;
          @include transition(all 0.25s ease-in);
          @include background-image(linear-gradient(
            rgba($darkgrey, 0) rgba(#080808, 0.15)
          ));
          
          .no-svg &,
          .lt-ie9 & {
            i {
              width: image-width("shim/caret-down-off.png");
              height: image-height("shim/caret-down-off.png");
              margin: 0 0 0 10px;
              display: inline-block;
              vertical-align: middle;
              overflow: hidden;
              background: image-url("shim/caret-down-off.png") no-repeat 0 0;

              img {
                display: none;
              }
            }
          }

          img {
            margin: 0 0 0 10px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            @include opacity(0.33);
            @include transition(opacity 0.4s ease-in);
          }

          &:hover,
          &.selected {
            color: #fff;

            .cssgradients & {
              background-color: rgba(255, 255, 255, 0.1);
            }

            img {
              @include opacity(1);
            }
          }

        }
      }
    }

    &.secondary-nav {
      float: right;
      margin: 25px $gutter 0 0;

      li {
        width: 70px;
        font-size: 0.75em;
        font-weight: bold;
        line-height: 30px;

        &:last-child {
          width: auto;
        }

        a {
          @include transition(color 0.25s ease-in);
          &:hover {
            color: #fff;
          }

          &.btn {
            font-size: 1.083em;
            @include transition(background-color 0.25s ease-in);
          }
        }
      }
    }
  }
}

/* Subnav dropdown */
.subnav-container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 999999;
  background: #f3f3f3;

  .container {
    display: table;
    margin-bottom: 10px;
    
    h2 {
      margin: 0.75em 0;
    }

    ul {
      &:last-child {
        width: 140px;
      }

      li {
        width: 85px;
        margin: 0 0 10px;
        float: left;
        line-height: 1.1em;

        a {
          color: $headlines;
          @include transition(color 0.25s ease-in);

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}

div[role="main"] {
  width: 100%;
  display: inline-block;
  clear: both;
}

#logo {
  @extend .span3;
  margin: 15px 0 0 $gutter;
  float: left;
  position: relative;

  a {
    width: image-width('m-logo.png');
    height: image-height('m-logo.png');
    display: inline-block;
    float: left;
    @include hidetext();
    background: image-url('m-logo.png');
  }
}

#main {
  width: 100%;
  padding: 20px 0;
  clear: both;
  background: white;

  &.grey-page {
    background: #eaeaea;
  }
}