body {
  counter-reset:section;
}

header[role="banner"] {
  $height: 80px;
  width: 100%;
  height: $height;
  position: relative;
  color: #fff;
  background: $darkgrey;

  /* CSS2 Shims */
  .no-cssgradients & {
    background: {
      image: image-url("shim/bg-header.gif");
      repeat: repeat-x;
      position: left top;
    } 

    & .shadow {
      display: none;
    }

    & ul.main-nav li a {
      background: none;
      &:hover {
        background: image-url("shim/bg-header-nav.gif");
      }
    }
  }

  a {
    color: #ccc;
  }

  ul {
    margin: 0;
    padding: 0;
    float: left;

    li {
      float: left;
    }

    &.main-nav {
      $button-width: 160px;

      li {
        width: $button-width;
        font-size: 0.94em;
        text-transform: uppercase;
        @include ProximaCondensed;

        > a {
          width: $button-width - ($gutter *2);
          height: $height;
          padding: 0 $gutter;
          float: left;
          position: relative;
          line-height: $height;
          background-color: $darkgrey;
          @include background-image(linear-gradient(
            rgba($darkgrey, 0.75) rgba($darkgrey, 1))
          );
          @include transition(all 0.25s ease-in);
          
          .no-svg &,
          .lt-ie9 & {
            i {
              width: image-width("shim/caret-down-off.png");
              height: image-height("shim/caret-down-off.png");
              margin: 0 0 0 10px;
              display: inline-block;
              vertical-align: middle;
              overflow: hidden;
              background: image-url("shim/caret-down-off.png") no-repeat 0 0;

              img {
                display: none;
              }
            }
          }

          img {
            margin: 0 0 0 10px;
            display: inline-block;
            vertical-align: middle;
            position: relative;
            @include opacity(0.33);
            @include transition(opacity 0.4s ease-in);
          }

          &:hover {
            color: #fff;
            background-color: #fff;
            img {
              @include opacity(1);
            }
          }

        }
      }
    }

    &.secondary-nav {
      float: right;
      margin: 25px $gutter 0 0;

      li {
        width: 70px;
        font-size: 0.75em;
        font-weight: bold;
        line-height: 30px;

        &:last-child {
          width: auto;
        }

        a {
          @include transition(color 0.25s ease-in);
          &:hover {
            color: #fff;
          }

          &.btn {
            font-size: 1.083em;
            @include transition(background-color 0.25s ease-in);
          }
        }
      }
    }
  }
}

/* Subnav dropdown */
#subnav-container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #fff;

  .container {
    display: table;
    margin-bottom: 10px;

    ul {
      width: 160px;
      float: left;

      &:last-child {
        width: 140px;
      }

      li {
        width: 85px;
        margin: 0 0 10px;

        a {
          color: $body;
        }
      }
    }
  }
}

div[role="main"] {
  width: 100%;
  display: inline-block;
  clear: both;
}

#logo {
  @extend .span3;
  margin: 15px 0 0 $gutter;
  float: left;

  a {
    width: image-width('m-logo.png');
    height: image-height('m-logo.png');
    display: inline-block;
    @include hidetext();
    background: image-url('m-logo.png');
  }
}

#main {
  width: 100%;
  padding: 20px 0;
  clear: both;
  background: white;

  &.grey-page {
    background: #eaeaea;
  }
}

.shadow {
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    z-index: 999;
    @include background-image(linear-gradient(
      rgba(#070707, 0) rgba(#070707, 0.75)
    ));
  }