header.page-header {
  position: relative;

  h1 {
    text-transform: uppercase;
    line-height: 0.85em;
    margin: 0.6em 0;
  }

  small {
    width: 100%;
    margin: 0 0 2.00em;
    display: block;
    clear: both;
  }

  .filter {
    display: inline-block;
    clear: both;
    margin-bottom: 30px;

    .btn-group {
      border-right: 1px solid $body;
      float: left;
      margin: 0;

      &:first-child {
      
      }
      &:last-child {
        border: none;
        margin: 0 0 0 10px;
      }
    }

    ul {
      float: left;
      @include ul-reset($no-bullet: true);

      li {
        margin: 0 10px 0 0;
        float: left;
      }
    }
  }
}

#main {
  .subnav-header {
    margin-bottom: 30px;
  }

  article {
    ul { 
      margin: 0 0 0 1em;
      padding: 0;

      li {
        font-size: 0.75em;
        line-height: 1.25em;
        margin: 2px 0;
      }
    }

    .features {
      width: 100%;
      clear: both;
      margin: 0 0 30px;
      display: inline-block;

      .features-list {
        @extend .span4;
        float: left;
      }

      aside {
        @extend .span4;
        float: right;
        position: relative;

        a.btn-zoom {
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }
}

.page-subnav,
.breadcrumb {
  min-width: image-width("bg-breadcrumb.png");
  float: right;
  color: $headlines;
  background: image-url("bg-breadcrumb.png") no-repeat center bottom;

  ol {
    margin: 12px 0;
    list-style: none;

    li {
      height: 28px;
      padding: 0 15px;
      float: left;
      position: relative;
      font-size: 0.69em;
      @include Proxima();
      line-height: 28px;

      a {
        color: $headlines;
      }

      &.selected,
      &.current {
        $caret-height: image-height("breadcrumb-current.png");
        font-weight: 700;
        color: #000;
        background: image-url("breadcrumb-current.png") no-repeat center (28px - ($caret-height / 2));

        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
          background-position: center bottom;          
        }

        a {
          font-weight: bold;
        }
      }
    }
  }

  &.numbered ol li:after {
    counter-increment:section;
    content: counter(section);
    width: 20px;
    position: absolute;
    top: 28px;
    left: 50%;
    margin-left: -10px;
    text-align: center;
    font-size: 1.36em;
    @include Proxima;
    color: $body;
  }
}

.page-subnav {
  ol {
    margin: 20px 0;
  }
}

.mbassadors {
  width: 100%;
  float: left;
  margin: 0 0 10px;
  ul {
    @include ul-reset($no-bullet: true);

    li {
      margin: 0 0 30px;
    }
  }

  blockquote {
    @extend .span3;
    float: right;

    p {
      margin: 0;
      line-height: 1.5em;
    }
  }
}

.featured-quote {
  width: 100%;
  float: left;
  margin-top: 65px;
  position: relative;

  blockquote {
    p {
      @include ProximaCondensed;
      font-size: 1.25em;
      line-height: 1.25em;
      margin-bottom: 0.25em;
      color: #999;
    }
    /* Insert the fancy quote before */
    &:before {
      content:"\201C";
      font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
      font-size: 160px;
      line-height: 1em;
      position: absolute;
      top: -55px;
      left: 0;
      color: #f0f0f0;
    }
  }
}