#experience-creator {
  min-height: 600px;

  header {
    margin-bottom: 30px;

    h3 {
      @include ProximaCondensed;
      color: #999;
    }

    h1, h3 {
      text-transform: uppercase;
    }

    h1 {
      margin-bottom: 0.5em;
    }

    a.next-step {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    small {
      margin: 0 0 22px;
      font-style: italic;
    }
  }

  footer {
    margin: 350px 0 0;
    float: left;
    @extend .container;
    position: relative;

    a {
      float: right;
    }
  }
}

ul.locations-grid {
  @include ul-reset($no-bullet: true);
  width: 100%;
  float: left;

  li.span4 {
    position: relative;
    margin-bottom: $gutter;

    &.isotope-item:last-child {
      margin-right: 0 !important;
    }

    img {
      display: block;
    }

    h3 {
      margin: 0;
      line-height: 2.50em;
      @include ProximaCondensed(500);
      text-transform: uppercase;

      a {
        width: 90%;
        padding: 0 5%;
        float: left;
        color: #ccc;
        background-color: #000;
        @include btn-with-caret($dir: right, $animateTo: down);
        @include background-image(linear-gradient(
          rgba(#202020, 0.9), rgba(#202020, 0.1)
        ));
        @include transition(background-color 0.25s ease-in);

        &:hover,
        &.selected {
          color: #fff;
          background-color: #414141;
        }

        .no-cssgradients &:hover,
        .no-cssgradients &.selected {
          background: {
            position: 0 0;
            repeat: repeat-x;
            image: image-url("shim/grid-hover.gif");
          }
        }

        &.selected {
          @include btn-with-caret($dir: down);
        }
      }
    }

    ul, dl {
      width: 100%;
      @include ul-reset($no-bullet: true);
      /*display: none;*/
      position: absolute;
      right: 0;
      left: 0;
      top: 182px;
      z-index: 1;
      background: #fff;

      li {
        width: 100%;
        float: left;
        font-size: 0.69em;
        @include Proxima(700);

        a {
          width: 90%;
          padding: 8px 5%;
          float: left;
          color: $headlines;
          @include transition(all 0.25s ease-in);

          &:hover {
            color: #000;
            background: #f4f4f4;
          }

          &.selected {
            color: #f4f4f4;
            background: #202020;
          }
        }
      }
    }

    dl {
      margin: 0;
      padding: 10px 0;

      .no-js & {
        padding-bottom: 0;
      }

      dt {
        min-height: 40px;
        position: relative;

        label {
          width: 225px;
          @extend h2;
          margin: 10px 0 10px 40px;
          cursor: pointer;
          line-height: 1em;
          display: inline-block;
          position: relative;

          span.checkbox {
            width: 11px;
            height: 11px;
            margin: -7px 0 0 -7px;
            position: absolute;
            left: -20px;
            top: 50%;
            display: inline-block;
            border: 1px solid $body;
            cursor: pointer;

            input[type="checkbox"] {
              @include opacity(0);
              cursor: pointer;
            }

            .svg & img,
            .no-svg & span {
              position: absolute;
              top: -3px;
              left: 1px;
            }

            &.checked img,
            &.checked span {
              display: block;
            }

            &.off img,
            &.off span {
              display: none;
            }

            span {
              width: 17px;
              height: 14px;
              @include shim-sprite(check);
            }
          }

          .no-js & input[type="checkbox"] {
            @include opacity(1);
            margin: -7px 0 0 -7px;
            position: absolute;
            left: -20px;
            top: 50%;
            display: inline-block;
          }

        }

        button.toggle {
          margin: -10px 0 0;
          position: absolute;
          right: 10px;
          top: 50%;
          
          .no-js & {
            display: none;
          }
        }
      }
      dd {
        margin: 0;
        padding: 0 10px $gutter 40px;
        font-size: 0.75em;
        line-height: 1.8em;
        border-bottom: 1px solid $silver;

        &:last-child {
          border: none;
        }
      }
    }
  }
}


.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}