.exp-lrg-btn {
  width: 300px - ($gutter * 2);
  height: 80px;
  padding: 0 $gutter;
  display: inline-block;
  color: #fff;
  background-: rgba(#fff, 0);
  cursor: pointer;
  @include background-image(linear-gradient(
    rgba($darkgrey, 0.75), rgba($darkgrey, 1))
  );
  @include transition(background-color 0.25s ease-in);

  &:hover {
    background-color: rgba(#fff, 0.5);
    
    h2,
    h3 {
      color: #fff;
    }
  }

  @include btn-with-caret($dir: up);

  h2 {
    margin: 0.75em 0 0.25em;
    position: relative;
    color: #fff;
    @include transition(color 0.25s ease-in);
  }

  h3 {
    margin: 0;
    color: #999;
    @include transition(color 0.25s ease-in);
  }
}

#experiences {
  width: 100%;
  height: 520px;
  position: relative;
  background: $darkgrey;

  .banner {
    text-align: center;
  }

  /* CSS2 Shims */
  .no-cssgradients & {
    .shadow {
      display: none;
    }

    nav {
      background: image-url("shim/bg-header.gif") repeat-x 0 0;

      ul li a:hover {
        background: image-url("shim/bg-header-nav.gif") repeat-x 0 0;
      }
    }
  }

  nav {
    width: 100%;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: $darkgrey;

    ul {
      @extend .container;
      padding: 0;
      li {
        @extend .span4;
        margin-left: $gutter;
        float: left;

        a.callout-hero {
          @extend .exp-lrg-btn;
        }
      }
    }
  }

  /* Experiences landing page */
  &.full-page {
    height: 100%;
    padding-bottom: 50px;

    .shadow {
      display: none;
    }

    nav {
      height: auto;
      position: relative;
      top: -42px;
      background: none;
    }

    ul li .exp-callout {
      @extend .exp-lrg-btn;
      height: auto;
      background-color: $darkgrey;
      @include background-image(linear-gradient(
        rgba($darkgrey, 0.1), rgba($darkgrey, 1))
      );


      &:hover {
        background-color: #414141;

        .no-cssgradients & {
          background: image-url("shim/bg-exp-nav.gif") repeat-x 0 0;
        }
      }

      a {
        width: auto;
        height: auto;
        font-size: 1em;
      }
    }
  }

  .exp-thumbnails {
    width: 300px;
    height: 80px;
    margin: 25px 0;
    float: left;
    position: relative;
    left: -$gutter;
    background: #000;

    ol {
      width: 240px;
      padding: 0;
      margin: 0;
      float: left;

      li {
        width: 80px;
        margin: 0;
        float: left;
      }
    }
  }
}