.exp-lrg-btn {
  width: 300px - ($gutter * 2);
  height: 80px;
  padding: 0 $gutter;
  display: inline-block;
  color: #fff;
  background-: rgba(#fff, 0);
  cursor: pointer;
  @include transition(background-color 0.25s ease-in);

  &:hover {
    h2,
    h3 {
      color: #fff;
    }
  }


  &.exp-nav-on {
    @include btn-with-caret($dir: up);
  }

  &.static-tab {
    @include btn-with-caret($dir: right);
  }

  h2 {
    margin: 0.75em 0 0.25em;
    position: relative;
    color: #fff;
    @include transition(color 0.25s ease-in);
  }

  h3 {
    margin: 0;
    color: #999;
    @include transition(color 0.25s ease-in);
  }
}

#experiences {
  width: 100%;
  height: 520px;
  overflow: hidden;
  position: relative;
  background: $darkgrey;

  .banner {
    text-align: center;
  }

  /* CSS2 Shims */
  .no-cssgradients & {

    nav {
      background: image-url("shim/bg-header.gif") repeat-x 0 0;

      ul li a:hover {
        background: image-url("shim/bg-header-nav.gif") repeat-x 0 0;
      }
    }
  }

  nav.gallery-controls {
    width: 940px;
    margin: 0 auto;
    position: relative;
    @include opacity(0);
    @include transition(opacity 0.25s ease-in);

    button {
      width: 30px;
      height: 35px;
      position: absolute;
      z-index: 99999;
      top: 200px;

      &.gallery-nav-prev {
        left: -30px;
      }

      &.gallery-nav-next {
        right: -30px;
      }
    }
  }

  .exp-slideshow {
    height: 100%;
    
    &:hover nav.gallery-controls {
      @include opacity(1);
    }
  }

  nav.tabs {
    width: 100%;
    height: 80px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    background: image-url("bg-header.png") repeat-x left bottom;

    ul {
      @extend .container;
      padding: 0;

      li {
        width: 260px;
        margin-left: $gutter;
        float: left;
        position: relative;
        @include transition(background-image 0.25s ease-in);

        a.tab-button {
          @extend .exp-lrg-btn;
          padding: 0;
        }

        p {
          margin: 0;
        }

        span.close-tab {
          display: none;
        }

        &.selected {
          @include background-image(linear-gradient(
            #414141, rgba(#212121, 1) 90%, rgba(#212121, 0.65)
          ));

          span.close-tab {
            position: absolute;
            top: 12px;
            right: 12px;
            font-size: 25px;
            color: rgba(#fff, 0.5);

            &:hover {
              color: rgba(#fff, 1);
            }
          }

          a {
            @include btn-with-caret($dir: right);
            
            i.caret {
              @include opacity(0);
            }
            
            h2, h3 {
              color: #fff;
            }
          }
        }

        a.callout-hero {
          @extend .exp-lrg-btn;
          padding: {
            left: 0;
            right: 0;
          }
        }
      }
    }

    .exp-thumbnails {
      width: 300px;
      height: 80px;
      margin: 17px 0 25px;
      float: left;
      position: relative;
      left: -$gutter;
      background: #000;

      .exp-thumbnails-scroller {
        width: 240px;
        float: left;
        position: relative;
        overflow: hidden;
      }

      ol {
        width: 1000px;
        padding: 0;
        margin: 0;
        float: left;
        position: relative;

        li {
          width: 80px;
          margin: 0;
          float: left;
          cursor: pointer;
        }
      }
    }
  }

  .exp-subnav-holder  {
    position: absolute;
    bottom: -80px;
  }

  /* White labels that popup to label the photos in the slides */
  .exp-labels {
    @extend nav.tabs;
    z-index: 1;

    ul {
      list-style: none;

      li {
        width: 300px - $gutter * 2;
        height: 140px;
        padding: ($gutter / 2) $gutter;
        float: left;
        position: relative;
        top: 0;
        background: #fff;

        h2 {
          margin-bottom: 0.2em;
        }

        h3 {
          margin: 0;
        }
      }
    }
  }

  .exp-details {
    @extend .exp-lrg-btn;
    height: 352px;

    a {
      width: auto;
      height: auto;
      font-size: 1em;
    }
  }

  /* Experiences landing page */
  &.full-page {
    height: 100%;
    padding-bottom: 50px;

    nav {
      height: auto;
      position: relative;
      top: -42px;
      background: none;
    }

    .exp-details {
      height: auto;
      background-color: $darkgrey;
      @include background-image(linear-gradient(
        rgba($darkgrey, 0.1), rgba($darkgrey, 1))
      );


      &:hover {
        background-color: #414141;

        .no-cssgradients & {
          background: image-url("shim/bg-exp-nav.gif") repeat-x 0 0;
        }
      }
    }
  }
}

ul#gallery-images {
  @include ul-reset(true);
  width: 80000px;
  margin: 0 0 0 $gutter;
  position: absolute;
  left: 0;
  top: 0;

  li {
    width: 940px;
    float: left;
  }
}