#index {
  aside {
    strong {
      font-family: "proxima-nova-extra-condensed";
      font-size: 1.67em;
    }
  }
}

.intro-column {
  margin-top: 10px;
}

#home-locations {
  ul.nav-list {
    margin-top: 2px;
  } 
}